    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About ME</h2>
              <br/>
                <p>I'm currently a student enrolled in at <a href="http://nashvillesoftwareschool.com/">Nashville Software School</a>. It's a six month bootcamp training people in the science of software develpoment focusing on full stack web development. I started in Cohort 8 in January of 2015 and will complete the course in June 2015. </p>
                <p>Prior to this I was titled as an "Automation Specialist" in the field of  Oil and Gas Production. My last employment was with <a href="http://www.bp.com/en/global/corporate/about-bp/bp-worldwide/bp-in-angola.html">BP Angola</a>.</p>
                <p>I'm currently a 4 yr resident of <a href="http://www.city-data.com/city/Spring-Hill-Tennessee.html">Spring Hill, TN</a>. Prior to this I've lived in Louisiana, Mississippi, and Texas. But I grew tired of 2 seasons, poor schools, and flat land. So when I took the assignment to work in Africa I only needed to be close to a major airport. the two cities in the running at the time were Nashville or Austin, and Nashville had a better chance at snow, and was a little closer to Florida beaches. So we sold the house and headed north.</p>
                <p>But after 5 years of rotating a month on and month off in Angola and working for a vile management team I was done. I turned in my resignation and decided to look for a new career path. But as time has progressed I have determined that I still enjoyed what I did, just not who I was doing it for.</p>
                <br/>
              </div>
        </div>
    </section>
