    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me Professionally</h2>
              <br/>
                <p>As a kid I enjoyed playing with Remote Controlled Cars. When I turned 13 I got my first one that came as a kit and you had to assemble the whole car and for the electrical you had to solder the connections yourself. This is what got me started in electronics.
                <br/><br/>
                My dad worked for International Paper Company. He was a Forrester who ended up doing a ton Computer and IT work. His office had several computers and he was always bring them home to work on/with them. This was how I got started with computers, that and the Internet really kicked off when I was finishing high school.
                <br/><br/>
                Since 2000 I've worked a rotational role offshore in Operations and Maintenance. I've done Instrument and Control System work mainly. But being that I've also done Electrical Construction and Service work I've also helped in Electrical when needed. I enjoy all 3 and they interact with each other very much, but I specialize in the Controls side at this time.
                <br/><br/>
                I truly enjoy doing Control System work. I still like working with older systems and trying to keep them up and running as hardware becomes harder to find. But I really enjoy working with the latest technologies. It can be a struggle but it's rewarding to get different systems to talk and pass data, finding and solving issues in control systems, installing new equipment, commissioning and startup.
                <br/><br/>
                I've been lucky in that I have gotten to work with some great teams over the years. Though with time many of us have moved on and around, I still keep in contact with a lot of these guys.
                <br/><br/>
                Below is list of my work history, what I've done and where I've been. It's little more detailed than what I have on <a href="https://www.linkedin.com/in/devinreadel">LinkedIn</a>.
              </div>
        </div>
    </section>
