<section id="resume">
  <div class="container">
    <div class="row">
      <h3 align="center">Resume</h3>
      <div class="col-lg-8 col-lg-offset-2">
        <img class="img-responsive" src="/img/Resume-Readel,Devin 2015.jpg">
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2">
        <object data="/img/Resume-Readel,Devin 2015.pdf" type="application/pdf" class="resume-pdf">
          <p>My Resume should be here, maybe your browser doesn't support this. <a href="/img/Resume-Readel,Devin 2015.pdf">to the PDF!</a></p>
        </object>
      </div> -->
    </div>
  </div>
</section>