<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header_ics.html %}
    {% include about_ics.html %}
    {% include page_content_ics.html %}
    <!-- <embed src="/img/Resume-Readel,Devin 2015.pdf" class="resume"> -->
    <object data="/img/Resume-Readel,Devin 2015.pdf" type="application/pdf" class="resume">
      <p>My Resume should be here, maybe your browser doesn't support this. <a href="/img/Resume-Readel,Devin 2015.pdf">to the PDF!</a></p>
    </object>
    {% include contact_ics.html %}
    {% include footer.html %}
    <!-- <iframe src="/img/Resume-Readel,Devin 2015.pdf" width="75%" height="75%">
      <p>Your browser does not support iframes.</p>
    </iframe> -->
    {% include js.html %}
  </body>
</html>